<div class="container">
  
        <div >
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users[0]">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td><a class="btn btn-primary" 
                  [routerLink]="['/create', user.id]">
                   Edit
               </a>
                </td>

              </tr>

            </tbody>
          </table>
          
        </div>

<div>
  {{errorMessage}}
</div>
</div>